<div class="movie-tile mb-4">
  <a routerLink="/movie/{{movie.id}}">
    <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}">
  </a>
  <div class="movie-tile-bottom">
    <div class="movie-tile-title">{{movie.title}}</div>
    <div class="movie-tile-year">{{movie.release_date.substr(0, 4)}}</div>

    <ng-container *ngIf="seen; then seenBlock else storedBlock"></ng-container>
    <ng-template #seenBlock>
      <button class="btn btn-success btn-sm disabled" tooltip="Watched!" placement="left">
        <fa-icon [icon]="faCheck"></fa-icon>
      </button>
    </ng-template>
    <ng-template #storedBlock>
      <ng-container *ngIf="stored; else elseBlock">
        <button (click)="addToMoviesSeen(movie.id)" class="btn btn-primary btn-sm" tooltip="Watched?" placement="left">
          <fa-icon [icon]="faEye"></fa-icon>
        </button>
      </ng-container>
    </ng-template>
    <ng-template #elseBlock>
      <button (click)="addToMoviesStored(movie.id)" class="btn btn-warning btn-sm" tooltip="Add to your watchlist" placement="left">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </ng-template>
  </div>
</div>
