.movie-tile {
  display: block;
  position: relative;
  box-shadow: 0 0 15px grey;

  img {
    width: 100%;
  }

  button {
    position: absolute;
    bottom: 3px;
    right: 3px;
  }

  .movie-tile-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #222;
    opacity: .8;
    color: white;

    .movie-tile-title {
      font-weight: bold;
    }
  }
}
