.movie-wrapper {
  position: relative;
  height: 40vh;
  overflow: hidden;
  box-shadow: 0 0 15px grey;
  z-index: -1;

  .movie-backdrop {
    position: absolute;
    top: -20%;
    width: 100%;
  }
}
.movie-details {

  .movie-poster {
    height: 70vh;
    margin-top: -30vh;
    box-shadow: 0 0 10px black;
  }

  .movie-title {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .movie-year {
    font-size: 1.2rem;
    color: #666;
  }
  .movie-runtime {
    color: #888;
  }
}
