<div class="movie-wrapper">
  <img class="movie-backdrop" src="https://image.tmdb.org/t/p/original{{movie$?.backdrop_path}}">
</div>
<div class="container-fluid movie-details">
  <div class="row">
    <div class="col-1">
      <button routerLink="/movies" type="button" class="btn btn-secondary mt-3">
        Back
      </button>
    </div>
    <div class="col-3">
      <img class="movie-poster" src="https://image.tmdb.org/t/p/w400{{movie$?.poster_path}}">
    </div>
    <div class="col-8">
      <div class="movie-title">{{movie$?.title}}</div>
      <div class="movie-year">{{movie$?.release_date.substr(0, 4)}}</div>
      <div class="movie-runtime">{{movie$?.duration}}</div>
      <hr>
      <h5>Actors</h5>
      <span *ngFor="let actor of movie$.credits.cast.slice(0, 10)"><b>{{actor.name}}</b> ({{actor.character}}), </span>...
      <hr>
      <h5>Crew</h5>
      <span *ngFor="let crew of movie$.credits.crew.slice(0, 10)"><b>{{crew.name}}</b> ({{crew.job}}), </span>...
      <hr>
      <h5>Genres</h5>
      <span class="badge badge-secondary mr-1" *ngFor="let genre of movie$.genres">{{genre.name}}</span>
      <hr>
      <h5>Synopsis</h5>
      <div class="movie-overview mb-5">{{movie$?.overview}}</div>
    </div>
  </div>
</div>
