<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-5">
      <div class="form-group has-search">
        <fa-icon [icon]="faSearch" class="form-control-feedback"></fa-icon>
        <input #search type="text" (keyup)="onQueryKeyUp(search.value)" class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <ng-select #yearQuery
                   [items]="years"
                   placeholder="Select a year"
                   appendTo="body"
                   [(ngModel)]="yearSelected"
                   (change)="onFiltersChange()">
        </ng-select>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <ng-select [items]="genres"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Select genres"
                   appendTo="body"
                   multiple="true"
                   [(ngModel)]="genresSelected"
                   (change)="onFiltersChange()">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <app-movie-tile class="col-md-2" *ngFor="let movie of movies" [movie]="movie"></app-movie-tile>
  </div>
</div>
